.git
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
storage/app/public
bootstrap/cache/*.php
bootstrap/cache/*.json
docker-compose.override.yml
*.md
*.log
.env
.env.*
